#pets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pet{
    background-color: #dedede;
    margin: 10px;
    padding: 10px;
}

.info-bar{
    background-color: black;
    color: white;
    margin: 5px;
    margin-top: 30px;
    border-radius: 5px;
    padding: 3px;
}

#pet-type{
    background-color: black;
    color: white;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}

.input-form-container{
    background-color: rgb(255, 217, 0);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-justify: left;
    margin-bottom: 10px;
    padding: 20px;
}

.input-form-container label{
    margin-bottom: 10px;
    display: inline-block;
}

.input-form-container input{
   
}

.fa-virus{
    color: green;
}

.fa-trash{
    color: rgb(150, 150, 150);
    font-size: 12px;
    border: 1px solid rgb(150, 150, 150);
    padding: 5px;
    border-radius: 50%;
}

.fa-bath{
    color: aqua;
}

.fa-scissors{
    color: blueviolet;
}

.delete-btn{
    border: none;
}

/* #table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
} */

/* #table th{
    flex: 1;
    background-color: rgb(255, 217, 0);
}

#table td{
    background-color: #dedede;
} */